.card-offer {
  position: relative;
  overflow: hidden;
}

.card-offer::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 16px;
  z-index: 0;
}

.card-offer header,
.card-offer footer,
.card-offer a,
.card-offer button {
  position: relative;
  z-index: 1;
}

.offers-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.offers .card {
  color: var(--text-secundary-color);
  width: 312px;
  height: 288px;
  padding: 24px 16px;
  border-radius: 16px;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.offers .card header {
  background-color: transparent;
  display: block;
  padding: 0;
}

.offers .card header p {
  font-size: 20px;
  font-weight: var(--text-weight);
}

.offers .card header h3 {
  margin: 8px 0 0;
  font-size: 40px;
  font-weight: var(--titles-weight);
}

.offers .card header span {
  font-size: 32px;
  margin-top: 24px;
  display: inline-block;
}

.offers .button {
  width: 220px;
  height: 48px;
  line-height: 48px;
  font-size: 16px;
  border-radius: 12px;
}

.japao {
  background-image: url(../img/japao-card.png);
}

.san-andreas {
  background-image: url(../img/san-andreas-card.png);
}

.paraiba {
  background-image: url(../img/paraiba-card.png);
}

.manaus {
  background-image: url(../img/manaus-card.png);
}

@media screen and (min-width: 768px) {
  .offers-cards {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .offers .button {
    width: 230px;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
  }
}

@media screen and (min-width: 1024px) {
  .offers .card {
    width: 420px;
    height: 308px;
  }

  .offers .card header h3 {
    font-size: 48px;
  }

  .offers .card header span {
    font-size: 40px;
  }

  .offers .button {
    width: 240px;
    height: 52px;
    line-height: 52px;
    font-size: 17px;
  }
}

@media screen and (min-width: 1440px) {
  .offers .card {
    width: 588px;
    height: 308px;
  }
}

@media screen and (min-width: 1920px) {
  .offers-cards {
    width: 1250px;
    margin: 0 auto;
  }
}
